<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="home">
			<div id="sections-header">
				<div class="contents">
					<div class="lhn-nav-button-container">
					</div>
					<div class="overview-section-header">
						A look at what's <strike>new</strike> old in your Reader
					</div>
					<div class="settings-button-container"></div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="sections-holder">
				<div id="sections">
					<div id="right-section">
						<div class="overview-section">
							<div class="section" id="recent-activity">
								<div id="recent-activity-star" class="recent">
									<div class="overview-stream" id="user/14548369432350969777/state/com.google/starred">
										<h4>
										<a>Recently starred</a>
									</h4>
									<div class="recent-item">
										<span class="link overview-item-link" id="tag:google.com,2005:reader/item/6768e481b3b0ee42">
											jenna: To those trying to replace @googlereader - it's not just about saving the feeds I read, it's about items I've read, starred, shared, tagged.
										</span>
										from
										<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/6768e481b3b0ee42">
											@mihai Twitter Timeline
										</span>
									</div>
									<div class="recent-item">
										<span class="link overview-item-link" id="tag:google.com,2005:reader/item/3f16d50a5d045e5e">
											Use forensics and detective work to solve JavaScript performance mysteries
										</span>
										from
										<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/3f16d50a5d045e5e">
											HTML5Rocks
										</span>
									</div>
								</div>
							</div>
							<div id="recent-activity-kept-unread" class="recent">
								<div class="overview-stream" id="user/14548369432350969777/state/com.google/kept-unread">
									<h4>
									<a>Recently kept unread</a>
								</h4>
								<div class="recent-item">
									<span class="link overview-item-link" id="tag:google.com,2005:reader/item/3a20b441f25205d6">
										Optimizing your JavaScript game for Firefox OS
									</span>
									from
									<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/3a20b441f25205d6">
										Mozilla Hacks - the Web developer blog
									</span>
								</div>
								<div class="recent-item">
									<span class="link overview-item-link" id="tag:google.com,2005:reader/item/993f1ac491f9b32b">
										All Or Nothing
									</span>
									from
									<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/993f1ac491f9b32b">
										Marco.org
									</span>
								</div>
							</div>
						</div>
						<div id="recent-activity-read" class="recent">
							<div class="overview-stream" id="user/14548369432350969777/state/com.google/read">
								<h4>
								<a>Recently read</a>
							</h4>
							<div class="recent-item">
								<span class="link overview-item-link" id="tag:google.com,2005:reader/item/3645dab9cfe36e4c">
									Case: RT @al3x: This one’s for the kids. Last post on business for a while. A letter to a young programmer considering a startup: http://t.co/wcC…
								</span>
								from
								<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/3645dab9cfe36e4c">
									@mihai Twitter Timeline
								</span>
							</div>
							<div class="recent-item">
								<span class="link overview-item-link" id="tag:google.com,2005:reader/item/6175d275d4d29349">
									jehiah: RT @avibryant: It's amazing how many times you can say "wait, what?" in a row while trying to understand this line of code: https://t.co/5R…
								</span>
								from
								<span class="recent-stream-title overview-item-link" id="tag:google.com,2005:reader/item/6175d275d4d29349">
									@mihai Twitter Timeline
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="tips">
					<div class="section-header">
						Tips and tricks
					</div>
					<div id="tips-body">
						<p class="promo-image-text">
						  All of the keyboard shortcuts that you were used to in Reader
						  still work. <b>g-a</b> still takes to the "All items" view,
						  <b>j</b> and <b>k</b> still take you through items, etc.
						</p>
						<p>And if you need a refresher, <b>shift-/</b> (i.e. <b>?</b>) still
              shows you a cheat sheet with all the shortcuts.</p>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="left-section">
			<div class="overview-section">
				<div id="overview">
					<div class="section-header">
						New in your subscriptions
					</div>
					<div class="overview-segment overview-stream" id="feed/http://furbo.org/feed/">
						<div class="overview-header">
							<span class="title">
							<a class="sub-link" href="" id="overview-feed/http://furbo.org/feed/">
								furbo.org
							<span class="unread">
								<span class="unread">
									(1)
								</span>
							</span>
						</a>
					</span>
				</div>
				<img src="./overview_files/ollie.png" width="100" height="100" alt="">
				<div class="overview-metadata" dir="ltr">
					<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/431c053d519409d9">
						The Origin of Tweet
					</p>
					<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/431c053d519409d9">
						Last week, one of my colleagues informed me that the word “tweet” was now included in the Oxford English Dictionary (see “Quiet announcement” at the end of the page.) The noun and verb tweet (in the social-networking sense) has just been added to ...
					</p>
				</div>
				<div class="label">
					<p>
						See more from
					<a class="label-link" id="overview-user/14548369432350969777/label/mac" href="">
						mac
					<span class="unread">
						(180)
					</span>
				</a>
				</p>
			</div>
		</div>
		<div class="overview-segment overview-stream" id="feed/http://what-if.xkcd.com/feed.atom">
			<div class="overview-header">
				<span class="title">
				<a class="sub-link" href="" id="overview-feed/http://what-if.xkcd.com/feed.atom">
					What If?
				<span class="unread">
					<span class="unread">
						(3)
					</span>
				</span>
			</a>
		</span>
	</div>
	<div class="overview-metadata" dir="ltr">
		<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/88f012229cbcc2f4">
			Extreme Boating
		</p>
		<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/88f012229cbcc2f4">
			Extreme Boating What would it be like to navigate a rowboat through a lake of mercury? What about bromine? Liquid gallium? Liquid tungsten? Liquid nitrogen? Liquid helium? -Nicholas Aron Let's take these one at a time. Bromine and mercury are the ...
		</p>
	</div>
	<div class="label">
		<p>
			See more from
		<a class="label-link" id="overview-user/14548369432350969777/label/Inbox" href="">
			Inbox
		<span class="unread">
			(1000+)
		</span>
	</a>
	</p>
</div>
</div>
<div class="overview-segment overview-stream" id="feed/http://xkcd.com/rss.xml">
	<div class="overview-header">
		<span class="title">
		<a class="sub-link" href="" id="overview-feed/http://xkcd.com/rss.xml">
			xkcd.com
		<span class="unread">
			<span class="unread">
				(2)
			</span>
		</span>
	</a>
</span>
</div>
<div class="overview-metadata" dir="ltr">
	<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/db9de74b8df0f655">
		Habitable Zone
	</p>
	<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/db9de74b8df0f655">
		[image: They have a telescope pointed RIGHT AT US!]
	</p>
</div>
<div class="label">
	<p>
		See more from
	<a class="label-link" id="overview-user/14548369432350969777/label/comics" href="">
		comics
	<span class="unread">
		(87)
	</span>
</a>
</p>
</div>
</div>
<div class="overview-segment overview-stream" id="feed/http://www.streamspigot.com/bird-feeder/feed/timeline/fYtfSTI5nRCCUnpZWRxxTmA">
	<div class="overview-header">
		<span class="title">
		<a class="sub-link" href="" id="overview-feed/http://www.streamspigot.com/bird-feeder/feed/timeline/fYtfSTI5nRCCUnpZWRxxTmA">
			@robot_friend Twitter Timeline
		<span class="unread">
			<span class="unread">
				(2)
			</span>
		</span>
	</a>
</span>
</div>
<img src="./overview_files/badge-twitter_normal.png" width="48" height="48" alt="">
<div class="overview-metadata" dir="ltr">
	<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/2842fffe0575e32b">
		mihai: How to get ALL your data out of Reader: http://t.co/cYOvrMf7qO
	</p>
	<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/2842fffe0575e32b">
		mihai How to get ALL your data out of Reader: blog.persistent.info/2013/06/gettin… at 07:10 AM from web
	</p>
</div>
<div class="label">
	<p>
		See more from
	<a class="label-link" id="overview-user/14548369432350969777/label/streams" href="">
		streams
	<span class="unread">
		(593)
	</span>
</a>
</p>
</div>
</div>
<div class="overview-segment overview-stream" id="feed/http://www.streamspigot.com/bird-feeder/feed/timeline/fUUFzii91TlGzOiDDQMi-bA">
	<div class="overview-header">
		<span class="title">
		<a class="sub-link" href="" id="overview-feed/http://www.streamspigot.com/bird-feeder/feed/timeline/fUUFzii91TlGzOiDDQMi-bA">
			@streamspigot Twitter Timeline
		<span class="unread">
			<span class="unread">
				(2)
			</span>
		</span>
	</a>
</span>
</div>
<img src="./overview_files/badge-twitter_normal.png" width="48" height="48" alt="">
<div class="overview-metadata" dir="ltr">
	<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/6e973499aec508d7">
		mihai: How to get ALL your data out of Reader: http://t.co/cYOvrMf7qO
	</p>
	<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/6e973499aec508d7">
		mihai How to get ALL your data out of Reader: blog.persistent.info/2013/06/gettin… at 02:10 PM GMT from web
	</p>
</div>
<div class="label">
	<p>
		See more from
	<a class="label-link" id="overview-user/14548369432350969777/label/streams" href="">
		streams
	<span class="unread">
		(593)
	</span>
</a>
</p>
</div>
</div>
<div class="overview-segment overview-stream" id="feed/http://persistent.info/comments.xml">
	<div class="overview-header">
		<span class="title">
		<a class="sub-link" href="" id="overview-feed/http://persistent.info/comments.xml">
			persistent.info Comments
		<span class="unread">
			<span class="unread">
				(19)
			</span>
		</span>
	</a>
</span>
</div>
<div class="overview-metadata" dir="ltr">
	<p class="link item-title overview-item-link" id="tag:google.com,2005:reader/item/b809fd2c510c45c4">
		Hello! Thanks for building this. Unfortunately, ...
	</p>
	<p class="item-snippet overview-item-link" id="tag:google.com,2005:reader/item/b809fd2c510c45c4">
		Hello! Thanks for building this. Unfortunately, I'm having some trouble -- I think. How can I tell if it's been successful? At the very end I get an I0Error: [Errno 22] invalid mode ('w') or filename which then leads to the place where the mihaip ...
	</p>
</div>
<div class="label">
	<p>
		See more from
	<a class="label-link" id="overview-user/14548369432350969777/label/searches-synthetic" href="">
		searches-synthetic
	<span class="unread">
		(33)
	</span>
</a>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="overview-footer">
	<div id="footer">
		<div id="viewer-links"></div>
		<a target="_blank" href="http://googlereader.blogspot.com/"><b>Google Reader Blog</b></a>
    -
    <a href="https://www.google.com/reader/play/?hl=en" target="_new">Reader Play</a>
    -
    <a target="_blank" href="http://www.google.com/support/forum/p/reader">Discuss</a>
    -
    <a target="_blank" href="http://www.google.com/intl/en/privacy.html">Privacy Policy</a>
    -
    <a target="_blank" href="http://www.google.com/support/reader/?hl=en">Help</a>
    <div class="copyright">
      ©2013 Google
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
